body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

#quote {
    background-color: #f8f9fa;
}

#result {
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
.container {
    max-width: 1000px; /* Adjust the value as needed */
}
/* Add these styles to your existing CSS file or in the head of your HTML */
body.light-mode {
    background-color: #fff;
    color: #000;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Add this to style.css */
.btn-light-mode {
    background-color: #fff;
    color: #000;
}

.btn-dark-mode {
    background-color: #333;
    color: #fff;
}
